

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

h1, footer {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
}

nav {
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar :-webkit-any-link {
      color: white;
      font-weight: bold;
      text-decoration: none;
      cursor: auto;
 }

.navitem {
      border: 1px white solid;
      padding: 10px;
      background-color: grey;
}

#number {
  border-bottom: 1px teal solid;
}

div {
  background-color: teal;
}

.preamble {
  background-color: red;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact_display {
  padding: 10px;
  margin: 20px;
}
